
.silver-bg-color{
  background-color: rgb(181,181,181);
}
.silver-text-color{
  color: rgb(181,181,181);
}
.darkslategray-text-color{
  color: rgb(51,55,64);
}
.darkslategray-bg-color{
  background-color: rgb(51,55,64);
}
