@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body *{
  padding: 0;
  margin: 0;
}
.text-bold{
  font-weight: bold;
}
header{
    .row{
      margin-top: 15px;
    }
}
